workflow_evolution_followup.json
{
  "name": "Follow-up WhatsApp - Evolution API",
  "nodes": [
    {
      "id": "trigger-webhook",
      "name": "1. Webhook: Receber mensagem da Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "evolution-lead-response",
      "options": {
        "rawBody": true
      },
      "parameters": {
        "path": "evolution-lead-response",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "extrair-dados",
      "name": "2. Extrair número e texto da mensagem",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "numero",
              "value": "={{ $json.remoteJid || $json.key?.remoteJid || $json.data?.key?.remoteJid }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.pushName || $json.data?.pushName || 'Lead' }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.message?.conversation || $json.data?.message?.conversation || $json.text || 'vazia' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "limpar-numero",
      "name": "3. Limpar formato do número (remover @s.whatsapp.net)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "numeroLimpo",
              "value": "={{ $json.numero.replace(/@.*$/, '') }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "buscar-planilha",
      "name": "4. Verificar se número já está na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": {
        "operation": "get",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      }
    },
    {
      "id": "if-existe",
      "name": "5. Já existe na base?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{ $json.data?.length }}",
              "operation": "greaterEqual",
              "value2": 1
            }
          ]
        }
      }
    },
    {
      "id": "adicionar-lead",
      "name": "6. Lead NOVO — adicionar na planilha com status 'aguardando'",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1250, 200],
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $json.numeroLimpo }}",
            "nome": "={{ $json.nome }}",
            "ultimo_contato": "={{ new Date().toISOString() }}",
            "etapa": "1",
            "status": "aguardando"
          }
        },
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "espera-48h",
      "name": "7. Aguardar 48h para follow-up 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1450, 200],
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": 48,
        "unit": "hours"
      }
    },
    {
      "id": "refetch-apos-48h",
      "name": "8a. Reconsultar planilha após 48h (pegando etapa ATUAL)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1650, 200],
      "parameters": {
        "operation": "get",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      }
    },
    {
      "id": "checar-resposta-antes-f1",
      "name": "8. Lead respondeu enquanto esperava?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1850, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{ $json.etapa }}",
              "operation": "equal",
              "value2": "1"
            }
          ]
        }
      }
    },
    {
      "id": "atualizar-etapa",
      "name": "9. Avançar etapa na planilha para 'followup_1'",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [2050, 100],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "etapa": "2",
            "status": "followup_1_enviado",
            "ultimo_contato": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "delay-humano-f1",
      "name": "10. Delay humano 5-15s (evitar disparo em massa)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2250, 100],
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": "={{ Math.floor(Math.random() * 10) + 5 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "enviar-followup-1",
      "name": "11. Enviar follow-up 1 via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [2450, 100],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numeroLimpo }}"
            },
            {
              "name": "text",
              "value": "{{ $json.nome }}, tudo bem? Só queria saber se você conseguiu dar uma olhada na mensagem que enviei. Fico à disposição para conversarmos quando tiver um tempinho. Abraço!"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "espera-5dias",
      "name": "12. Aguardar 5 dias para follow-up 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2650, 100],
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": 120,
        "unit": "hours"
      }
    },
    {
      "id": "refetch-apos-5dias",
      "name": "13a. Reconsultar planilha após 5 dias (pegando etapa ATUAL)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [2850, 100],
      "parameters": {
        "operation": "get",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": false
        }
      }
    },
    {
      "id": "checar-resposta-antes-f2",
      "name": "13. Lead respondeu após follow-up 1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3050, 100],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "string": [
            {
              "value1": "={{ $json.etapa }}",
              "operation": "equal",
              "value2": "2"
            }
          ]
        }
      }
    },
    {
      "id": "atualizar-para-f2",
      "name": "14. Avançar etapa na planilha para 'followup_2'",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [3250, 0],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "etapa": "3",
            "status": "followup_2_enviado",
            "ultimo_contato": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "delay-humano-f2",
      "name": "15. Delay humano 5-15s antes do follow-up 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3450, 0],
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": "={{ Math.floor(Math.random() * 10) + 5 }}",
        "unit": "seconds"
      }
    },
    {
      "id": "enviar-followup-2",
      "name": "16. Enviar follow-up 2 (última tentativa) via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [3650, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numeroLimpo }}"
            },
            {
              "name": "text",
              "value": "{{ $json.nome }}, tudo bem? Sou eu de novo! Só queria confirmar se você tem interesse no assunto que comentei. Se não for o momento, é só me falar que não insisto mais. Obrigado!"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "finalizar-lead",
      "name": "17. Marcar lead como 'encerrado' na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [3850, 0],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "encerrado"
          }
        },
        "options": {}
      }
    },
    {
      "id": "lead-existente-respondeu",
      "name": "18. Lead EXISTENTE respondeu — atualizar status e ENCERRAR follow-up",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1250, 450],
      "parameters": {
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "controles",
        "filters": {
          "combineConditions": "AND",
          "conditions": [
            {
              "fieldName": "numero",
              "condition": "equal",
              "searchValue": "={{ $json.numeroLimpo }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "respondeu — conversa manual",
            "etapa": "0",
            "ultimo_contato": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "noop-fim",
      "name": "19. Fim — sem ação necessária",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1450, 450]
    }
  ],
  "connections": {
    "1. Webhook: Receber mensagem da Evolution": {
      "main": [
        [{ "node": "2. Extrair número e texto da mensagem", "type": "main", "index": 0 }]
      ]
    },
    "2. Extrair número e texto da mensagem": {
      "main": [
        [{ "node": "3. Limpar formato do número (remover @s.whatsapp.net)", "type": "main", "index": 0 }]
      ]
    },
    "3. Limpar formato do número (remover @s.whatsapp.net)": {
      "main": [
        [{ "node": "4. Verificar se número já está na planilha", "type": "main", "index": 0 }]
      ]
    },
    "4. Verificar se número já está na planilha": {
      "main": [
        [{ "node": "5. Já existe na base?", "type": "main", "index": 0 }]
      ]
    },
    "5. Já existe na base?": {
      "main": [
        [{ "node": "6. Lead NOVO — adicionar na planilha com status 'aguardando'", "type": "main", "index": 0 }],
        [{ "node": "18. Lead EXISTENTE respondeu — atualizar status e ENCERRAR follow-up", "type": "main", "index": 1 }]
      ]
    },
    "6. Lead NOVO — adicionar na planilha com status 'aguardando'": {
      "main": [
        [{ "node": "7. Aguardar 48h para follow-up 1", "type": "main", "index": 0 }]
      ]
    },
    "7. Aguardar 48h para follow-up 1": {
      "main": [
        [{ "node": "8a. Reconsultar planilha após 48h (pegando etapa ATUAL)", "type": "main", "index": 0 }]
      ]
    },
    "8a. Reconsultar planilha após 48h (pegando etapa ATUAL)": {
      "main": [
        [{ "node": "8. Lead respondeu enquanto esperava?", "type": "main", "index": 0 }]
      ]
    },
    "8. Lead respondeu enquanto esperava?": {
      "main": [
        [{ "node": "9. Avançar etapa na planilha para 'followup_1'", "type": "main", "index": 0 }],
        [{ "node": "19. Fim — sem ação necessária", "type": "main", "index": 0 }]
      ]
    },
    "9. Avançar etapa na planilha para 'followup_1'": {
      "main": [
        [{ "node": "10. Delay humano 5-15s (evitar disparo em massa)", "type": "main", "index": 0 }]
      ]
    },
    "10. Delay humano 5-15s (evitar disparo em massa)": {
      "main": [
        [{ "node": "11. Enviar follow-up 1 via Evolution API", "type": "main", "index": 0 }]
      ]
    },
    "11. Enviar follow-up 1 via Evolution API": {
      "main": [
        [{ "node": "12. Aguardar 5 dias para follow-up 2", "type": "main", "index": 0 }]
      ]
    },
    "12. Aguardar 5 dias para follow-up 2": {
      "main": [
        [{ "node": "13a. Reconsultar planilha após 5 dias (pegando etapa ATUAL)", "type": "main", "index": 0 }]
      ]
    },
    "13a. Reconsultar planilha após 5 dias (pegando etapa ATUAL)": {
      "main": [
        [{ "node": "13. Lead respondeu após follow-up 1?", "type": "main", "index": 0 }]
      ]
    },
    "13. Lead respondeu após follow-up 1?": {
      "main": [
        [{ "node": "14. Avançar etapa na planilha para 'followup_2'", "type": "main", "index": 0 }],
        [{ "node": "19. Fim — sem ação necessária", "type": "main", "index": 0 }]
      ]
    },
    "14. Avançar etapa na planilha para 'followup_2'": {
      "main": [
        [{ "node": "15. Delay humano 5-15s antes do follow-up 2", "type": "main", "index": 0 }]
      ]
    },
    "15. Delay humano 5-15s antes do follow-up 2": {
      "main": [
        [{ "node": "16. Enviar follow-up 2 (última tentativa) via Evolution API", "type": "main", "index": 0 }]
      ]
    },
    "16. Enviar follow-up 2 (última tentativa) via Evolution API": {
      "main": [
        [{ "node": "17. Marcar lead como 'encerrado' na planilha", "type": "main", "index": 0 }]
      ]
    },
    "17. Marcar lead como 'encerrado' na planilha": {
      "main": [
        [{ "node": "19. Fim — sem ação necessária", "type": "main", "index": 0 }]
      ]
    },
    "18. Lead EXISTENTE respondeu — atualizar status e ENCERRAR follow-up": {
      "main": [
        [{ "node": "19. Fim — sem ação necessária", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
